html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
@font-face {
  font-family: "No Virus";
  src: url("no-virus.otf");
}

#interface {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "No Virus", cursive;
  width: 100%;
  text-align: center;
  position: absolute;
  color: rgb(233, 144, 42);
  font-size: 72px;
  top: 30%; left: 50%;
  transform: translate(-50%, -50%);
}

#start {
  width: 15%;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

#restart {
  display: none;
  background-color: transparent;
  border: none;
}

#score {
  display: none;
  font-family: "No Virus", cursive;
  color: rgb(233, 144, 42);
  font-size: 120px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#left, #right {
  display: none;
  position: absolute;
  top: 50vh;
  font-size: xxx-large;
  font-family: "No Virus", cursive;
  border: none;
  border-radius: 50%;
  background: #e9902a;
  padding: 0 15px;
}
#left {
  left: 5vw;
}
#right {
  right: 5vw;
}
@media screen and (min-width: 400px) {
  #left, #right {
    display: none !important;
  }
}